.btn-primary {
    background-color: $white;
    border-radius: 50px;
    padding: 10px 50px;
    @include btn;
    color: $violet;
    @include shadow-dark;
    &:hover{
        @include shadow-brightness; 
    }
    &.-large {
        background-color: $violet;
    }
}