// Networks
.networks {
    
    a {
    align-items: center;
    border: 1px solid $white;
    border-radius: 50%;
    color: $white;    
    display: inline-flex;
    font-size: 1.2em;
    height: 40px;
    justify-content: center;
    margin: 0 10px;
    width: 40px;
   }
    a:hover {
        @include hover-networks;
    }
}










