// Headings

@mixin h1 ($size) {
@if $size == 2.5{
    color: $white;
    font-size: 2.5em;
line-height: 1.8em;
font-family: 'Poppins', sans-serif;
font-weight: 700;
margin-bottom: 10px;
}

// Headings Mobile
@else if $size == 1.4{
    font-size: 1.4em;
line-height: 1.6em;
text-align: center;
}

}


// Body

@mixin p ($size) {
@if $size == 1.2{
    color: $white;
    font-size: 1.2em;
line-height: 1.8em;
font-family: 'Poppins', sans-serif;
font-weight: 400;
margin-bottom: 30px;
}

// Body Mobile
@else if $size == 0.90{
    font-size: 0.90em;
line-height: 1.5em;
text-align: center;
}
}

// Button

@mixin btn {
    font-family: 'Poppins', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
}

// Shadows

@mixin shadow-dark {
    -webkit-box-shadow: 6px 2px 33px -4px rgba(51,50,51,1);
-moz-box-shadow: 6px 2px 33px -4px rgba(51,50,51,1);
box-shadow: 6px 2px 33px -4px rgba(51,50,51,1);
}

@mixin shadow-brightness {
    -webkit-box-shadow: -4px 0px 33px -4px rgba(255,255,255,1);
-moz-box-shadow: -4px 0px 33px -4px rgba(255,255,255,1);
box-shadow: -4px 0px 33px -4px rgba(255,255,255,1);
transition: .5s;
}

// Hover Networks

@mixin hover-networks {
   background-color: $white;
        color: $black;
        transition: .5s; 
}

// Grid

@mixin  container-fluid {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 25px;
}

